body {
    margin: 0 auto;
    padding: 0;
}

.who-are-we {
    --gray-text-color: #333;
    background-color: #f6f6f6;
    width: 100%;
    font-size: 50px;
    overflow: scroll;
}

article.team {
    padding: 20px;
    color: var(--gray-text-color);
    min-width: 246px;
}

.team hr {
    margin: .25em .1em;
    display: block;
    width: .3em;
    border: .01em solid black;
    float: left;
}
#meet-text {
    float:left;
    margin: 0 .3em;
    display: block;
    color: #ef443a;
    font-family: Merriweather, Georgia, serif;
    font-size: 0.4em;
}

.about-team-text {
    clear: both;
    margin: 2em .3em .4em .3em;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .5em;
}

#main-question {
    margin: .1em;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .8em;
    font-weight: 700;
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - .6em);
    min-width: 246px;
    margin: 0 .3em;
}
.person-box {
    position: relative;
    display: flex;
    margin: 10px 5px;
    width: 80vw;
    height: 80vw;
    min-width: 238px;
    min-height: 238px;
}
.person-box div {
    overflow: hidden;
    margin: auto;
    width: 70%;
    height:70%;
    transform: rotate(-45deg);
}

.person-box .person-diamond > img {
    position: absolute;
    height: 145%;
    left: -25%;
    top: -20%;
    transform: rotate(45deg);
}

.person-box .person-text-box {
    box-sizing: border-box;
    background-color: #ef443a;
    color: white;
    width:142%;
    height: 75%;
    padding: 10px;


    text-align: center;

    transform: rotate(0deg);
    transform-origin: left top;
    transform: rotate(45deg);
    opacity: 0;
}

span.person-name {
    display: block;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: .4em;
}

span.person-function {
    margin-top: 7px;
    display: block;
    font-family: Merriweather, Georgia, serif;
    font-size: .32em;
}

.person-diamond:hover > div.person-text-box {
    transition: opacity .6s ease-in-out;
    opacity: .9;
}