body {
    margin: 0 auto;
    padding: 0;
}

/* section styles */
.who-are-we {
    --gray-text-color: #333;
    background-color: #f6f6f6;
    width: 100%;
    font-size: 50px;
    overflow: scroll;
}

/* main section text box styles */
article.team {
    padding: 20px;
    color: var(--gray-text-color);
    min-width: 246px;
}

#main-question {
    margin: .1em;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .8em;
    font-weight: 700;
}

.team hr {
    margin: .25em .1em;
    display: block;
    width: .3em;
    border: .01em solid black;
    float: left;
}
#meet-text {
    float:left;
    margin: 0 .3em;
    display: block;
    color: #ef443a;
    font-family: Merriweather, Georgia, serif;
    font-size: 0.4em;
}

.about-team-text {
    clear: both;
    margin: 2em .3em .4em .3em;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .5em;
}

/* team photos section */
.photos-container {
    font-size: 85vw;

    display: flex;
    padding: 20px;
    min-width: 200px;
    flex-direction: column;
    align-items: center;

}
.person-box { /*this one contains diamond shaped "frame" for photo */
    position: relative;
    box-sizing: border-box;
    margin: 10px 0;
    width: 1em;
    height: 1em;
    min-width: 200px;
    min-height: 200px;
    /*border: 1px solid black; */
}
.person-diamond {
    /*diamond shape "frame" */
    position: absolute;
    overflow: hidden;
    left: 15%; /* 15% left + 70& width + 15% right(auto) */
    top: 15%;
    width: 70%;
    height:70%;
    transform-origin: center;
    transform: rotate(-45deg);
}

.person-box .person-diamond > img { /*image trimmed by diamond shape */
    position: absolute;
    height: 145%;
    left: -25%;
    top: -20%;
    transform: rotate(45deg);
}

.person-box .person-text-box { /* employee name and function */
    box-sizing: border-box;
    background-color: #ef443a;
    color: white;
    width:142%;
    font-size: 100%;
    height: 75%;
    padding: 10px;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: left top;
    transform: rotate(45deg);
    opacity: 0;
}

span.person-name { /* employee name */
    display: block;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: calc(10px + 0.015em);
}

span.person-function { /* employee function */
    margin-top: 7px;
    display: block;
    font-family: Merriweather, Georgia, serif;
    font-size: calc(7px + 0.015em);
}

.person-diamond:hover > div.person-text-box {
    transition: opacity .6s ease-in-out;
    opacity: .9;
}

/* Tablet Styles */ 

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .photos-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .person-box {
        width: calc(1em / 2);
        height: calc(1em / 2);

        min-width: 180px;
        max-width: 250px;

        min-height: 180px;
        max-height: 250px;
    }
}