
/*Damian Case-study*/
/*ustwanienia całego kontenera*/
.Case-Study{
width: 1920px;
height: 891px;
background-color: #28282e;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/*ustawienia tesktów*/
.heading {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 72px;
    /* Text style for "Project Ti" */
    letter-spacing: 0.53px;
    padding-left: 354px;
    padding-top: 268px;
}


.heading .descripton {
     width: 404px;
     height: 95px;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
 .buttons {
   display: inline-block;
   border: 2px solid white;
   color: white;
   padding: 0.8em 3em;
   text-decoration: none;
   font-weight: bold;
 
}
.mac {
   position: absolute;
   top: 300px;
   left: 976px;
    width: 446px;
    height: 272px;
}
 .laptop {
    position: absolute;
    padding-left: 52px;
    padding-right: 52px;
}
.mac img {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mac .option {
    position: relative;
    width: 418px;
    height: 262px;
    padding-left: 10px;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    margin-left: 55px;
    margin-right: 65px;
    border: 1px solid white;
    border-radius: 8px;
}
.icons{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 87px;
}
.rectangle {
    width: 3px;
    height: 25px;
    background-color: #ffffff;
}